.aboutstyle {
  margin: 60px 30px;
  font-size: medium;
}
.mystyle{
  background-image: url("https://i.pinimg.com/originals/04/70/cd/0470cd41a688f9c7ffeb41b76e5c8541.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;

}
.form {
  border-radius: 8px;
  width: 40%;
  padding: 20px;
  margin: auto;
  margin-top: 5%;
  overflow: auto;
  box-shadow: 5px 5px 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  
}

.from p {
  color: red
}

@media only screen and (max-width: 600px) {
  .form {
    width: 70%;
  }
  .card{
    width:85% !important;
  }
  .spinner {
    margin-top: 80% !important;
  }
}
.radiobtn{
  margin:2px;
}
.card{
  width: 45%;
  float: left;
  margin:20px;
 
}
.buttons1{
  width: 45%;
  margin-left:2px;
}
.buttons2 {
  width: 45%;
  float: right;
}
.spinner{
  margin-top: 25%;
}
